APP_PORT=8080

JWT_SECRET=secret
JWT_ACCESS_EXPIRATION_IN_MS=900000
JWT_REFRESH_EXPIRATION_IN_MS=86400000

HIBERNATE_DDL_AUTO=validate

POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db

REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=password

MINIO_PORT=9000
MINIO_WEB_PORT=9001
MINIO_ROOT_USER=user
MINIO_ROOT_PASSWORD=password
MINIO_BUCKET_NAME=bucket-name
MINIO_ACCESS_TOKEN=access-token
MINIO_SECRET_KEY=secret-key
MINIO_CONFIG_ENV_FILE=/etc/default/minio
